<!DOCTYPE html>
<html>
    <head>
        <title>Firebase login</title>
        <link type="text/css" href="/static/style.css" rel="stylesheet"/>
        <script type="module" src="/static/firebase-login.js"></script>
    </head>
    <body>
       
        <div class="container">
            <div class="heading">
                Room Booking Application
            </div>
        </div>
        
        <div id="login-box" class="login-container">
            Email: <input type="email" name="" id="email" class="form-input"><br/>
            Password: <input type="password" name="" id="password" class="form-input"><br/>
            <button id="login" class="login-button">Login</button>
            <button id="sign-up" class="login-button">Sign Up and Login</button>
        </div>

    
        <!-- <button id="sign-out">Sign Out</button>   -->


        <!-- {% if user_token %}
           <p>User email: {{ user_token.email}}</p>
           <p>error message: {{error_message}}</p>
            {% endif %} -->


    </body>
</html>